@page
@model GymWeb.Pages.Tools.EditModel

<form method="post">
	<input hidden asp-for="Tool.Id" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Edit Muscle</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Tool.Name"></label>
			<input asp-for="Tool.Name" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		<a asp-page="Index" class="btn btn-primary" style="width:200px;"> Back to List </a>
	</div>
</form>
